body {
  background: url(../images/bg2.jpg) top center no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  color: #eee999;
}
.view-content {
  width: 90%;
  margin: 0 auto;
}
.nav-bar {
  height: 60px;
  background: #000;
  color: #FFF;
  position: relative;
  padding-top: 2px;
  background: -webkit-linear-gradient(grey, black);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(grey, black);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(grey, black);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(grey, black);
  /* Standard syntax (must be last) */
}
.nav-bar a {
  text-decoration: non  e;
  color: #FFF;
  cursor: pointer;
}
.nav-bar .logo {
  padding-left: 5%;
  font-size: 40px;
}
.nav-bar ul {
  padding: 0 3% 0 0;
  text-align: right;
}
.nav-bar ul li {
  width: 150px;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}
.nav-bar ul li:active,
.nav-bar ul li:hover,
.nav-bar ul li.active {
  background-color: #265a88;
  background: -webkit-linear-gradient(grey, #265a88);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(grey, #265a88);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(grey, #265a88);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(grey, #265a88);
  /* Standard syntax (must be last) */
}
/* ----------------------------------------------------------------------------
* Name          : Sachin Khedkar
* Organisation  : Xoriant
* Contact       : sachin.khedkar@xoriant.com
*                 sachin.k2@outlook.com
*                 08149137792 / 09421690448
* Please do not change the file.
* -------------------------------------------------------------------------- */
.inline {
  display: inline;
}
.inline-block {
  display: inline-block;
}
.block {
  display: block;
}
.ten-percent {
  width: 9%;
  display: inline-block;
}
.twenty-percent {
  width: 19%;
  display: inline-block;
}
.thirty-percent {
  width: 29%;
  display: inline-block;
}
.forty-percent {
  width: 39%;
  display: inline-block;
}
.fifty-percent {
  width: 49%;
  display: inline-block;
}
.sixty-percent {
  width: 59%;
  display: inline-block;
}
.seventy-percent {
  width: 69%;
  display: inline-block;
}
.eighty-percent {
  width: 79%;
  display: inline-block;
}
.ninety-percent {
  width: 89%;
  display: inline-block;
}
.hundred-percent {
  display: block;
  width: 99%;
}
.top-left-corner {
  position: absolute;
  top: 0;
  left: 0;
}
.top-right-corner {
  position: absolute;
  top: 0;
  right: 0;
}
.bottom-left-corner {
  position: absolute;
  bottom: 0;
  left: 0;
}
.bottom-right-corner {
  position: absolute;
  bottom: 0;
  right: 0;
}
.center {
  margin: 0 auto;
  padding: 0 auto;
}
.right {
  position: relative;
  right: 0;
}
.left {
  position: relative;
  left: 0;
}
.uppercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}
.lowercase {
  text-transform: lowercase;
}
.font-weight-100 {
  font-weight: 100;
}
.font-weight-200 {
  font-weight: 200;
}
.font-weight-300 {
  font-weight: 300;
}
.font-weight-bold {
  font-weight: bold;
}
.font-weight-bolder {
  font-weight: bolder;
}
.font-weight-lighter {
  font-weight: lighter;
}
.pad-h {
  padding-left: 1em;
  padding-right: 1em;
}
.pad-v {
  padding-top: 1em;
  padding-bottom: 1em;
}
.pad-a {
  padding: 1em;
}
.margin-h {
  margin-left: 1em;
  margin-right: 1em;
}
.margin-v {
  margin-top: 1em;
  margin-bottom: 1em;
}
.margin-a {
  margin: 1em;
}
.margin-auto {
  margin: 0 auto;
}
.round-corner {
  border-radius: 1em;
}
.round-corner-top {
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}
.round-corner-bottom {
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}
.round-corner-left {
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
}
.round-corner-right {
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
}
.text-align-right {
  text-align: right;
}
.text-align-left {
  text-align: left;
}
.text-align-center {
  text-align: center;
}
.text-align-justify {
  text-align: justify;
}
